body {
    font-family: "Times New Roman";
    margin: 0;
}
 
#header {
    background-color: #444;
    border-bottom: 2px solid #111;
    color: white;
}

#header .title {
    font-size: 2em;
    padding: .6em;
}

td {
    border-top: 2px dotted gray;
    padding-top: .7em;
    margin-bottom: .7em;
}

#editBlock {
    display:none;
    float:right;
    margin-right: 5%;
}

#createBlock {
    float:right;
    margin-right: 5%;
}

#tableBlock {
    width: 70%;
    display:inline-block;
    margin-left: 5%;
    margin-top: 2%;
}

.id_cls {
    width: 50px;
    border-right: 2px dotted gray;
}

#tableBlock td a{
    font-size: 14px;
    color: cornflowerblue;
}

#tableBlock td a:hover {
    color: darkcyan;
    cursor: pointer;
}
